.button {
  font: inherit;
  border: 1px solid #FF3F00;
  background: #FF3F00;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #f3511b;
  border-color: #FF3F00;
}

.button:focus {
  outline: none;
}
